* {
    margin: 0;
    padding: 0;
}

.score-board {
    position: absolute;
    // top: 100px;
    background-color: black;
    width: 270px;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-flex {
    flex-basis: 1;
    margin-bottom: 20px;
    font-size: 30px;
}

.image {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 70%;
    width: 70%;
    border: 2px solid pink;
    background-color: black;
    z-index: 1;
}

.user-input {
    position: absolute;
    width: 220px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 12%;
    color: black;
}